.sapUiBody {
	margin: 8px;
	overflow: auto;
	font-size: 12px;
}

.release .label, .patchinfo .label {
	font-size: 1.2rem;
	font-weight: bold;
	border: 0px solid black;
	border-bottom-width: 2px;
	margin-bottom: 4px;
}

.patchinfo .label {
	margin-top: 1em;
	font-size: 1rem;
}

.patchinfo .lib {
	display: block;
	text-align: start;
	margin-left: 2em;
}

.patchinfo .lib .version {
	color: #bbb;
}

.patchinfo .change {
	text-align: start;
	margin-left: 3em;
}

.patchinfo .change .sha {
	color: #bbb;
	font-family: lucida console, monospace;
}

.patchinfo .change .refs > a, .patchinfo .change .refs > a:visited {
	color: #bbb;
	font-style: italic;
	text-decoration: none; 
}

.patchinfo .change .refs > a:hover {
	color: blue;
}

#placeholder {
	font-style: italic; 
}

.header {
	background-color: rgb(200,200,200);
	padding: 2px 0px;
	margin-bottom: 5px;
}

.header .patch {
	line-height: 2em;
}

.lib {
	display: inline-block;
	text-align: end;
	font-weight: bold;
	border: 0px solid grey;
	padding: 1px 2px;
	margin: 1px 4px;
	width: 20em;
}

.lib.oldstyle {
	background-color: yellow;
}

.patch {
	display: inline-block;
	/*box-sizing: border-box;*/
	text-align: center;
	border: 1px solid grey;
	padding: 1px 2px;
	margin: 1px 4px;
}

.patch a, .patch a:visited {
	color: blue;
	text-decoration: none;
}

.patch a:hover {
	text-decoration: underline;
}

.snapshot {
	background: repeating-linear-gradient(
	  -30deg,
	  rgba(200,200,255,255),
	  rgba(200,200,255,255) 3px,
	  rgba(255,255,255,0) 3px,
	  rgba(255,255,255,0) 10px
	);
	border: 1px solid red;
}

.help {
	margin-top: 2ex;
	padding-top: 2ex;
	padding-bottom: 1ex;
	border-top: 1px solid grey;
	font-size: 12px;
}
.help .param {
	display: inline-block;
	padding-left: 2ex;
	width: 40ex;
	font-family: monospace;
}
